@model IEnumerable<BPBusService.Models.RouteStop>

@{
    ViewData["Title"] = "Routes using Stop " + Context.Request.Cookies["busStopNumber"];
}

<h2>@ViewData["Title"]</h2>


<form asp-action="RouteStopSchedule" asp-controller="BPRouteSchedule" method="get">

    @foreach(var item in Model)
    {
        <input type="radio" value="@item.RouteStopId" id="@item.BusRouteCodeNavigation.RouteName" asp-for="@item.RouteStopId" />
        <text>&nbsp;</text><label for="@item.BusRouteCodeNavigation.RouteName">@item.BusRouteCodeNavigation.RouteName</label><br />
    }

    <input type="submit" name="Submit" value="Submit" />

    

</form>

   